.dashboard-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.dashboard-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: flex-start;
}
.dashboard-container-main-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1.5rem 0;
}
.dashboard-container-sidebar {
  top: 1.5rem;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1.5rem 0;
}
.dashboard-container-sidebar-element {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 15px;
  padding: 1rem;
}
.dashboard-container-sidebar-exp {
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.dashboard-container-sidebar-exp-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard-container-sidebar-exp-progressbar-container {
  width: 70%;
  display: flex;
  gap: 0.2rem;
}
.dashboard-container-sidebar-exp-progressbar-container progress {
  width: 25%;
  height: 0.75rem;
}
.dashboard-container-sidebar-exp-progressbar-container
  progress::-webkit-progress-bar {
  background-color: #ddd; /* tło */
  border-radius: 10px;
}

.dashboard-container-sidebar-exp-progressbar-container
  progress::-webkit-progress-value {
  background-color: #0098ed; /* KOLOR POSTĘPU */
  border-radius: 10px;
}

/* Firefox */
.dashboard-container-sidebar-exp-progressbar-container progress {
  background-color: #ddd;
  border-radius: 10px;
}

.dashboard-container-sidebar-exp-progressbar-container
  progress::-moz-progress-bar {
  background-color: #0098ed;
  border-radius: 10px;
}
.dashboard-container-sidebar-exp-lvl {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
.dashboard-container-sidebar-learning-tip {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 1rem;
  text-align: justify;
}
.dashboard-container-sidebar-learning-tip-icon {
  font-size: 2.5rem;
}
.dashboard-container-sidebar-quick-menu {
  display: flex;
  text-align: justify;
  flex-direction: column;
}
.dashboard-container-sidebar-quick-menu button {
  border: none;
  border-radius: 5px;
  height: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  background-color: #5eabd6;
  color: #fff;
  font-weight: bold;
  margin-top: 0.5rem;
}
.dashboard-container-sidebar-stats {
  text-align: justify;
}

.dashboard-container-sidebar-stats div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}
.dashboard-container-sidebar-stats-icon {
  font-size: 2rem;
}
.dashboard-container-sidebar-stats-icon-grey{
  filter: grayscale(1);
}
.dashboard-btn {
  width: 100%;
  height: 16rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: all 200ms ease-in-out;
}
.dashboard-btn:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: translateY(-3px);
}
.dashboard-btn img {
  width: 10rem;
  height: 10rem;
  margin-bottom: 1rem;
}
.dashboard-btn-profile img {
  border-radius: 50%;
  object-fit: cover;
  object-position: center top;
  display: block;
}

@media (min-width: 1024px) {
  .dashboard-container {
    width: 1024px;
  }
}
