.signin-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.signin-container {
  width: 18.75rem;
}
.signin-page-title {
  color: #5eabd6;
}
.signin-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1rem;
  width: 100%;
}
.signin-form input {
  border: 2px solid #5eabd6;
  height: 2rem;
  border-radius: 10px;
}
.signin-form input:focus {
  border: 3px solid #579dc5;
  outline: none;
}
.signin-form div {
  display: flex;
  flex-direction: column;
}
.signin-btn {
  border: none;
  border-radius: 5px;
  height: 2.5rem;
  font-weight: bold;
  cursor: pointer;
}
.signin-main-btn {
  text-align: center;
  background-color: #5eabd6;
  border: none;
  border-radius: 5px;
  height: 2.5rem;
  color: #fff;
  font-weight: bold;
}
.signin-second-btn {
  width: 100%;
  background-color: #fff;
  border: 2px solid #5eabd6;
  color: #5eabd6;
  margin-top: 1rem;
}
.sign-in-reset-password{
    margin-top: -0.5rem;
}
.sign-in-reset-password:visited{
    
}