body {
  padding: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.AppContiner main{
  width: 100%;
}
.hero-img{
  width: 100%;
  height: auto;
}

